<div class="promotion-form">
    <div class="row">
      <div
        dropdown
        ng-model="model.adaccount"
        class="dropdown">
      </div>
      <div
        dropdown
        ng-model="model.page"
        class="dropdown">
      </div>
    </div>
    <div class="row">
      <div
        dropdown
        ng-model="model.audiences"
        class="dropdown">
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
          ng-model="model.budget"
          class="mdl-textfield__input"
          step="any"
          min="0.000001"
          type="number"
          id="budget"
          required>
        <label for="budget">Lifetime budget ({{model.currency.name}})</label>
        <span class="mdl-textfield__error">Budget is not valid!</span>
      </div>
    </div>
    <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
              ng-model="model.max_duration"
              class="mdl-textfield__input"
              step="1"
              min="1"
              max="30"
              type="number"
              id="max_duration"
              required>
            <label for="max_duration">
                Promote until (days)
            </label>
            <span class="mdl-textfield__error">Duration is not valid!</span>
        </div>
    </div>
</div>