@import 'variables.scss';

.list-label {
	padding: 0 16px;
	padding-top: 16px;
    font-size: 12px;
}

.content {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 461px;
	& > * {
		flex-grow: 0;
		flex-shrink: 0;
	}
	.spacer {
		flex-grow: 1;
		flex-shrink: 1;
	}
	.actions {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding: 16px;
		display: flex;
		flex-grow: 0;
		flex-shrink: 0;
		text-align: right;
		justify-content: flex-end;
		button, a {
			align-self: flex-end;
		}
	}
}

.post-empty {
	padding: 16px;
}