<div class="group-header">
    <div class="group-title">
        {{audience.name}}
    </div>
    <div class="group-spacer"></div>
    <i class="material-icons" ng-if="!group.active">
        keyboard_arrow_{{audience.open && 'up' || 'down'}}
    </i>
</div>
<form
    ng-if="audience.open"
    ng-click="$event.stopPropagation();"
    ng-submit="save(audience)"
    class="group-content" mdl-upgrade>
    <div class="group-content-input">
        <div class="group-content-label">
            Name
        </div>
        <div class="group-content-value">
            <div class="audience-name mdl-textfield mdl-js-textfield">
                <input required ng-model="audience.name" class="mdl-textfield__input" type="text" id="{{audience.id}}-name">
                <label class="mdl-textfield__label" for="{{audience.id}}-name">Audience name</label>
            </div>
        </div>
    </div>
    <div class="group-content-input">
        <div class="group-content-label">
            Custom audiences
        </div>
        <div class="group-content-value">
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="ca in audience.data.custom_audiences track by ca.id">
                    <span class="mdl-list__item-primary-content">
                        {{customAudienceByid(ca.id)}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteCustomAudience(audience, ca.id); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
                <li
                    class="mdl-list__item"
                    ng-repeat="ca in audience.data.excluded_custom_audiences track by ca.id">
                    <span class="mdl-list__item-primary-content">
                        Excluded: {{customAudienceByid(ca.id)}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteCustomAudience(audience, ca.id, 1); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name multi">
                <div class="dropdown aud-method min">
                    <select
                        ng-model="audience.$custMethod">
                        <option value="custom_audiences">Include</option>
                        <option value="excluded_custom_audiences">Exclude</option>
                    </select>
                    <label></label>
                </div>
                <div class="dropdown audience-dropdown" style="margin-left: 0">
                    <select
                        ng-model="audience.$caValue"
                        ng-change="addCustomAudience(audience); verify(audience);"
                        ng-options="item.id as item.name
                            for item in filteredCustomAudiences(audience)">
                    </select>
                    <label></label>
                </div>
            </div>
        </div>
    </div>
    <div class="group-content-input">
        <div class="group-content-label">
            Location
        </div>
        <div class="group-content-value">
            <div class="dropdown">
                <select
                    ng-change="verify(audience);"
                    ng-model="audience.$loTypeValue">
                    <option value="1">Everyone in this location</option>
                    <option value="2">People who live in this location</option>
                    <option value="3">People recently in this location</option>
                    <option value="4">People traveling in this location</option>
                </select>
                <label></label>
            </div>
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="loc in audience.$locations track by loc.id">
                    <span class="mdl-list__item-primary-content">
                        {{loc.name}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteLocation(audience, loc); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
                <li
                    class="mdl-list__item"
                    ng-repeat="loc in audience.$locationsEx track by loc.id">
                    <span class="mdl-list__item-primary-content">
                        Exclude: {{loc.name}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteLocation(audience, loc, 1); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name multi">
                <div class="dropdown loc-method min">
                    <select
                        ng-model="audience.$locMethod">
                        <option value="geo_locations">Include</option>
                        <option value="excluded_geo_locations">Exclude</option>
                    </select>
                    <label></label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input auto-complete="queryLocation"
                        ng-model="audience.$loValue"
                        item-template="locationItem.tpl.html"
                        item-action="addAudienceLocation"
                        item-action-self="audience"
                        container-class="audience-ac"
                        class="mdl-textfield__input"
                        type="text"
                        id="{{audience.id}}-location">
                    <label class="mdl-textfield__label" for="{{audience.id}}-location">Add location</label>
                </div>
            </div>
        </div>
    </div>
    <div class="group-content-input">
        <div class="group-content-label">
            Age
        </div>
        <div class="group-content-value age-chooser">
            <div class="dropdown min">
                <select
                    ng-model="audience.$ageMinValue"
                    ng-change="ageMinChange(audience); verify(audience);"
                    ng-options="item.id as item.name for item in ageData">
                </select>
                <label>Min age</label>
            </div>
            <span style="align-self: center">―</span>
            <div class="dropdown min">
                <select
                    ng-model="audience.$ageMaxValue"
                    ng-change="ageMaxChange(audience); verify(audience);"
                    ng-options="item.id as item.name for item in ageData">
                </select>
                <label>Max age</label>
            </div>
        </div>
    </div>
    <div class="group-content-input">
        <div class="group-content-label">
            Gender
        </div>
        <div class="group-content-value gender-chooser">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender-1">
                <input
                    type="radio"
                    id="gender-1"
                    class="mdl-radio__button"
                    value="0"
                    ng-model="audience.$gnValue"
                    ng-change="verify(audience);"
                    name="genders"/>
              <span class="mdl-radio__label">All</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender-2">
                <input
                    type="radio"
                    id="gender-2"
                    class="mdl-radio__button"
                    value="1"
                    ng-model="audience.$gnValue"
                    ng-change="verify(audience);"
                    name="genders"/>
                <span class="mdl-radio__label">Men</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="gender-3">
                <input
                    type="radio"
                    id="gender-3"
                    class="mdl-radio__button"
                    value="2"
                    ng-model="audience.$gnValue"
                    ng-change="verify(audience);"
                    name="genders"/>
                <span class="mdl-radio__label">Women</span>
            </label>
        </div>
    </div>
    <div class="group-content-input">
        <div class="group-content-label">
            Languages
        </div>
        <div class="group-content-value">
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="lang in audience.$langs track by lang.id">
                    <span class="mdl-list__item-primary-content">
                        {{lang.name}}
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteLanguage(audience, lang); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name mdl-textfield mdl-js-textfield">
                <input auto-complete="queryLanguage"
                    ng-model="audience.$langValue"
                    item-template="languageItem.tpl.html"
                    item-action="addAudienceLanguage"
                    item-action-self="audience"
                    container-class="audience-ac"
                    class="mdl-textfield__input"
                    type="text"
                    id="{{audience.id}}-language">
                <label class="mdl-textfield__label" for="{{audience.id}}-language">Add languages</label>
            </div>
        </div>
    </div>
    <div
        class="group-content-input"
        ng-repeat="flex in audience.$flexibleSpec" mdl-upgrade>
        <div class="group-content-label">
            {{ $first ? 'Detailed' : '' }}
        </div>
        <div class="group-content-value">
            <div class="group-content-help">
                {{ $first ?
                    'INCLUDE people who match at least ONE of the following' :
                    'and MUST ALSO match at least ONE of the following' }}
            </div>
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="detail in flex track by detail.id">
                    <span class="mdl-list__item-primary-content">
                        {{detail.name}} ({{detail.path}})
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteDetail(audience, detail, $parent.$index); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name multi">
                <div class="mdl-textfield mdl-js-textfield">
                    <input auto-complete="queryDetail"
                        ng-model="flex.$detValue"
                        item-template="detailItem.tpl.html"
                        item-action="addAudienceDetail"
                        init-query="queryDetailSuggestion"
                        item-action-self="{
                            'audience': audience,
                            'index': $index,
                            'flex': flex
                        }"
                        container-class="audience-ac"
                        class="mdl-textfield__input"
                        type="text"
                        id="{{audience.id}}-detail-{{$index}}">
                    <label
                        class="mdl-textfield__label"
                        for="{{audience.id}}-detail-{{$index}}">
                        Add detailed target
                    </label>
                </div>
                <button
                    type="button"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect"
                    ng-click="$event.stopPropagation(); openDetailBrowse(audience, $index);">
                    Browse
                </button>
            </div>
            <button
                ng-if="$last && !audience.$excludeOpen"
                type="button"
                class="detail-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored"
                ng-click="$event.stopPropagation(); audience.$excludeOpen = 1">
                Exclude people
            </button>
            <span
                class="detail-button-sep"
                ng-if="$last &&
                    flex.length &&
                    !audience.$excludeOpen">or</span>
            <button
                ng-if="$last && flex.length"
                type="button"
                class="detail-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored"
                ng-click="$event.stopPropagation(); addNewDetailGroup(audience)">
                Narrow audience
            </button>
        </div>
    </div>
    <div
        class="group-content-input"
        ng-if="audience.$excludeOpen" mdl-upgrade>
        <div class="group-content-label"></div>
        <div class="group-content-value">
            <div class="group-content-help">
                EXCLUDE people who match at least ONE of the following
            </div>
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="detail in audience.$flexibleSpecEx track by detail.id">
                    <span class="mdl-list__item-primary-content">
                        {{detail.name}} ({{detail.path}})
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteDetailEx(audience, detail); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name multi">
                <div class="mdl-textfield mdl-js-textfield">
                    <input auto-complete="queryDetail"
                        ng-model="audience.$detExValue"
                        item-template="detailItem.tpl.html"
                        item-action="addAudienceDetailEx"
                        item-action-self="{
                            'audience': audience
                        }"
                        container-class="audience-ac"
                        class="mdl-textfield__input"
                        type="text"
                        id="{{audience.id}}-detail-ex">
                    <label
                        class="mdl-textfield__label"
                        for="{{audience.id}}-detail-ex">
                        Add detailed target
                    </label>
                </div>
                <button
                    type="button"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect"
                    ng-click="$event.stopPropagation(); openDetailExcludeBrowse(audience);">
                    Browse
                </button>
            </div>
        </div>
    </div>
    <div class="group-content-input no-border">
        <div class="group-content-label">
            Connections
        </div>
        <div class="group-content-value">
            <div class="group-content-help">
                People who are connected to
            </div>
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="con in audience.$cons track by con.id">
                    <div class="mdl-list__item-primary-content">
                        <div style="width: 100%">
                            {{con.name}} (<span class="uppercase-first">{{con.type}}</span>)
                        </div>
                    </div>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteConnection(audience, con); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name mdl-textfield mdl-js-textfield">
                <input auto-complete="queryConnection"
                    init-query="queryConnection"
                    ng-model="audience.$conValue"
                    item-template="connectionItem.tpl.html"
                    item-action="addAudienceConnection"
                    item-action-self="audience"
                    container-class="audience-ac"
                    class="mdl-textfield__input"
                    type="text"
                    id="{{audience.id}}-con">
                <label class="mdl-textfield__label" for="{{audience.id}}-con">Add a Page, app, group, or event</label>
            </div>
        </div>
    </div>
    <div class="group-content-input no-border">
        <div class="group-content-label">
        </div>
        <div class="group-content-value">
            <div class="group-content-help">
                Friends of people who are connected to
            </div>
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="con in audience.$consFriend track by con.id">
                    <div class="mdl-list__item-primary-content">
                        <div style="width: 100%">
                            {{con.name}} (<span class="uppercase-first">{{con.type}}</span>)
                        </div>
                    </div>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteConnectionFriend(audience, con);verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name mdl-textfield mdl-js-textfield">
                <input auto-complete="queryConnection"
                    init-query="queryConnection"
                    ng-model="audience.$conFriendValue"
                    item-template="connectionItem.tpl.html"
                    item-action="addAudienceConnectionFriend"
                    item-action-self="audience"
                    container-class="audience-ac"
                    class="mdl-textfield__input"
                    type="text"
                    id="{{audience.id}}-con-friend">
                <label class="mdl-textfield__label" for="{{audience.id}}-con-friend">Add a Page, app, group, or event</label>
            </div>
        </div>
    </div>
    <div class="group-content-input no-border last">
        <div class="group-content-label">
        </div>
        <div class="group-content-value">
            <div class="group-content-help">
                Exclude people who are connected to
            </div>
            <ul class="mdl-list audience-list">
                <li
                    class="mdl-list__item"
                    ng-repeat="con in audience.$consExclude track by con.id">
                    <div class="mdl-list__item-primary-content">
                        <div style="width: 100%">
                            {{con.name}} (<span class="uppercase-first">{{con.type}}</span>)
                        </div>
                    </div>
                    <span class="mdl-list__item-secondary-content">
                        <a
                            class="rule-delete mdl-list__item-secondary-action"
                            ng-click="deleteConnectionExclude(audience, con); verify(audience);"
                            href="javascript:void(0)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </span>
                </li>
            </ul>
            <div class="audience-name mdl-textfield mdl-js-textfield">
                <input auto-complete="queryConnection"
                    init-query="queryConnection"
                    ng-model="audience.$conExcludeValue"
                    item-template="connectionItem.tpl.html"
                    item-action="addAudienceConnectionExclude"
                    item-action-self="audience"
                    container-class="audience-ac"
                    class="mdl-textfield__input"
                    type="text"
                    id="{{audience.id}}-con-exclude">
                <label class="mdl-textfield__label" for="{{audience.id}}-con-exclude">Add a Page, app, group, or event</label>
            </div>
        </div>
    </div>
    <div class="group-footer">
        <div class="msg mdl-color-text--accent" ng-if="audience.error">
            {{audience.error.error_user_msg}}
        </div>
        <div class="msg" ng-if="!audience.error">
            Potential Reach: {{audience.info.users.toLocaleString()}} people
        </div>
        <div class="group-footer-spacer"></div>
        <button
            ng-if="!group.active"
            type="button"
            class="mdl-button mdl-js-button mdl-js-ripple-effect"
            ng-click="$event.stopPropagation(); close(audience)">
            Cancel
        </button>
        <button
            ng-if="group.active"
            type="button"
            class="mdl-button mdl-js-button mdl-js-ripple-effect"
            ng-click="$event.stopPropagation(); reset(group)">
            Reset
        </button>
        <button
            ng-disabled="audience.error || !user.is_admin"
            type="submit"
            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Save
        </button>
    </div>
</form>