<li
    ng-if="item.type !== 'college_years'"
    ng-class="{
        'open': item.open &&
            !item.id, 'close': !item.open &&
            !item.id &&
            children.length
    }"
    ng-repeat="item in model.query(item.key)"
    ng-init="children = model.query(item.key)">
    <label 
        ng-mouseenter="model.desc = item"
        ng-mouseleave="model.desc = 0"
        class="db-item"
        ng-if="item.id"
        for="dbitem-{{item.id}}">
        <span>{{item.name}}</span>
        <input
            id="dbitem-{{item.id}}"
            type="checkbox"
            ng-model="item.checked"></input>
    </label>
    <div
        ng-click="item.open = !item.open"
        class="db-item"
        ng-if="!item.id && children.length">
        {{item.name}}
    </div>
    <label
        ng-click="model.search = item"
        class="db-item"
        ng-if="!item.id && !children.length">
        <span>{{item.name}}</span>
        <i class="material-icons" style="font-size: 16px; margin-right: 1px">search</i>
    </label>
    <ul class="db-ul" ng-click="$event.stopPropagation()" ng-if="item.open" ng-include="'detailBrowserDialogHelper.tpl.html'"></ul>
</li>