<div class="mdl-grid experiment-wizard" mdl-upgrade>
    <div ng-if="!viewLoaded" class="fill-full">
      <div
        class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
      </div>
    </div>
    <form
        mdl-upgrade
        ng-submit="addImage.submit()"
        experiment-create-add-image
        ng-model="addImage"
        ng-list-model="imageList"
        ng-if="viewLoaded"
        class="experiment-create-add-image
            animate
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--4-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </form>
    <div
        mdl-upgrade
        experiment-create-image-list
        ng-model="imageList"
        ng-if="viewLoaded"
        class="experiment-create-image-list
            animate
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--8-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </div>
    <form
        mdl-upgrade
        ng-submit="addText.submit()"
        experiment-create-add-text
        ng-model="addText"
        ng-list-model="textList"
        ng-if="viewLoaded"
        class="experiment-create-add-text
            animate
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--4-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </form>
    <div
        mdl-upgrade
        experiment-create-text-list
        ng-model="textList"
        ng-if="viewLoaded"
        class="experiment-create-text-list
            animate
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--8-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </div>
    <form
        mdl-upgrade
        ng-submit="selectPage.submit()"
        experiment-create-select-page
        ng-model="selectPage"
        ng-if="viewLoaded"
        class="experiment-create-select-page
            animate
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--4-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </form>
</div>
