<form ng-submit="model.changePassword()" mdl-upgrade>
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
            Change password
        </h2>
    </div>
    <div class="mdl-card__supporting-text">
        <div
            ng-class="{'is-invalid': model.error, 'is-dirty': model.oldPassword}" 
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                ng-model="model.oldPassword"
                class="mdl-textfield__input"
                type="password"
                id="old-password" />
            <label class="mdl-textfield__label" for="old-password">Old password</label>
        </div>
        <div
            ng-class="{'is-invalid': model.error, 'is-dirty': model.newPassword}"  
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                ng-model="model.newPassword"
                class="mdl-textfield__input"
                type="password"
                id="new-password" />
            <label class="mdl-textfield__label" for="new-password">New password</label>
            <span
                class="mdl-textfield__error">
                {{model.error}}
            </span>
        </div>
    </div>
    <div class="mdl-card__actions">
        <button
            ng-disabled="model.dataLoading"
            type="submit"
            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Change</button>
    </div>
</form>