@import 'variables.scss';

html, body {
    background-color: rgb(250,250,250);
}

.momentum-form {

    width: 100%;

    .mdl-switch {
        margin-bottom: 20px;
    }

    .mdl-switch__label {
        line-height: 27px;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-grow: 0;
        flex-shrink: 0;

        & > * {
            width: calc(33.3333% - 12px);
        } 
    }

    .full {
        width: 100%;
    }

    .date_picker, .mdl-textfield {
        position: relative;
        padding: 20px 0;
        input, textarea {
            appearance: none;
            display: block;
            box-sizing: border-box;
            background-color: transparent;
            margin: 0;
            padding: 4px 0;
            font-size: 16px;
            color: inherit;
            width: 100%;
            outline: 0;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 0;
        }

        input:disabled, textarea:disabled {
            background-color: transparent;
            border-bottom: 1px dotted $input-text-disabled-color;
            color: $input-text-disabled-text-color;
        }

        input ~ label, textarea ~ label {
            position: absolute;
            display: block;
            top: 4px;
            left: 0;
            right: 0;
            bottom: 0;
            color: inherit;
            font-size: 12px;
            overflow: hidden;
            white-space: nowrap;
            pointer-events: none;
        }

        input:focus ~ label, textarea:focus ~ label {
            color: unquote("rgb(#{$color-primary})");
        }

        input:focus ~ label:after, textarea:focus ~ label:after {
            left: 0;
            width: 100%;
            visibility: visible;
        }

        input ~ label:after, textarea ~ label:after {
            position: absolute;
            bottom: 20px;
            height: 2px;
            left: 45%;
            width: 10%;
            background-color: unquote("rgb(#{$color-primary})");
            content: '';
            transition-duration: .2s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            visibility: hidden;
        }
    }
}

.mdl-layout-title {
  white-space: nowrap;
  flex-shrink: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal;
}

.logo {
  width: auto;
  height: 100%;
}

.drawer {
  border: 0;
}

.drawer-header {
  padding: 16px;
  height: 119px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation {
  flex-grow: 1;
}

.layout .navigation .mdl-navigation__link {
  display: flex !important;
  box-orient: horizontal;
  box-direction: normal;
  flex-direction: row;
  box-align: center;
  align-items: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  .material-icons {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    margin-right: 16px;
  }
}

.layout .navigation .mdl-navigation__link:hover {
  background-color: unquote("rgb(#{$color-primary-dark})");
}

.modal {    
  background-color: #fff;
  bottom: 0;
  height: 0vh;
  overflow-y: auto;
  position: fixed;
  transition: height .25s;
  width: 100vw;
  z-index: 4;
}

.modal .is-visible {
  height: 100vh;
}

/* utility */

a.primary {
  color: unquote("rgb(#{$color-primary})");
}

.fill {
  position: fixed;
  width: 66.6666666%;
  left: 33.3333333%;
  top: 64px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  .open & {
    left: 96px;
    width: calc(100% - 96px)
  }
}

.fill-left {
  position: fixed;
  width: 33%;
  left: 0;
  top: 64px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  &.open {
    width: 96px;
  }
}

.fill-full {
  position: fixed;
  right: 0;
  left: 0;
  top: 64px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdl-spinner:after {
  content: "" !important;
}

/* animations */

@keyframes card-show {
  0%{
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  };
}

.mdl-card.animate {
  transform: scale(0);
}

.mdl-card.animate.start {
  animation-name: card-show;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@for $i from 0 through 999 {
    .mdl-card.delay-#{$i} {
        animation-delay: #{$i}ms;
    }
}

.loader-wrapper {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes spin {
    0%{
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    };
}

.loader-top {
    padding: 16px;
}

.loader {
    width: 150px;
    height: 150px;
    display: block;
    position: relative;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: unquote("rgb(#{$color-primary})");
    .is-upgraded & {
        animation: spin 2s linear infinite;
    }
    z-index: 1001;
    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: unquote("rgb(#{$color-accent})");
        .is-upgraded & {
            animation: spin 3s linear infinite;
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: unquote("rgb(#{$color-primary-dark})");
        .is-upgraded & {
            animation: spin 1.5s linear infinite;
        }
    }
}

.auto-width {
    width: auto;
}

.mdl-switch:not(.is-upgraded) {
    visibility: hidden;
}