<div class="mdl-card__media mdl-color--white">
    <div ng-if="model.loading" class="tests-loader" mdl-upgrade>
        <div
            class="mdl-spinner
                mdl-spinner--single-color
                mdl-js-spinner
                is-active">
        </div>
    </div>
    <table ng-if="!model.loading" class="tests-table mdl-data-table mdl-js-data-table" mdl-upgrade>
        <thead>
          <tr>
            <th
                title="Active"
                class="mdl-data-table__cell--non-numeric"
            >Active</th>
            <th title="Name" class="mdl-data-table__cell--non-numeric">Name</th>
            <th title="Conversion">Conversion</th>
            <th title="CPA">CPA</th>
            <th title="Spent">Spent</th>
            <th title="Click">Click</th>
            <th title="Landing">Landing</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in model.data" mdl-upgrade>
            <td class="mdl-data-table__cell--non-numeric">
                <label
                    ng-click="$event.preventDefault(); toggle(c.id, c.active, c.adset);"
                    class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                    for="switch-{{c.id}}">
                    <input
                        type="checkbox"
                        ng-disabled="!c.adset"
                        ng-model="c.active"
                        id="switch-{{c.id}}"
                        class="mdl-switch__input" />
                    <span class="mdl-switch__label"></span>
                </label>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <span class="mdl-color-text--primary"
                    title="{{c.name}}">
                    {{c.name}}
                </a>
            </td>
            <td ng-if="!c.adset" colspan="6">You don't have permission to access this test.</td>
            <td ng-if="c.adset">{{c.conversion}}</td>
            <td ng-if="c.adset">{{c.cpa}}</td>
            <td ng-if="c.adset">{{c.spend}}</td>
            <td ng-if="c.adset">{{c.click}}</td>
            <td ng-if="c.adset">{{c.landing}}</td>
          </tr>
        <tr class="spacer" ng-if="model.sum < 8">
            <td colspan="8" style="height: calc(49px * ({{8 - model.sum}}))">
                {{model.sum ? 
                    '&nbsp' :
                    model.errorMessage ?
                        model.errorMessage :
                        'No tests present.'}}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mdl-data-table__footer">
        <button
          ng-disabled="model.offset + model.sum >= model.cnt"
          class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
          ng-click="model.next()">
          <i class="material-icons">navigate_next</i>
        </button>
    <button
      ng-disabled="!model.offset"
      class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
      ng-click="model.prev()">
      <i class="material-icons">navigate_before</i>
    </button>
    <span>{{model.sum ? model.offset + 1 : 0}}-{{model.offset + model.sum}} of {{model.cnt}}</span>
  </div>
</div>