@keyframes card-show {
  0%{
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  };
}

.momentum-extension {
	.mdl-navigation {
		button:not(.first) {
			margin-left: 16px;
		}
	}
	.mdl-layout__drawer-button.logo {
		margin: 8px 12px;
		& > i {
			display: block;
		    width: 48px;
		    height: 48px;
			background-image: url(/embed/logo64.png);
		    background-size: 100%;
		}
	}
	display: flex;
	align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.4);
	&-container {
		outline: 0;
		transform: scale(0);
		animation-name: card-show;
	    animation-duration: 0.3s;
	    animation-timing-function: ease-out;
	    animation-fill-mode: forwards;
		width: 650px;
		height: 525px;
		position: relative;
		& > .mdl-layout__container > .mdl-layout {
			border-radius: 2px;
			.mdl-layout__header-row {
				padding: 0;
			    padding-left: 72px;
			    padding-right: 20px;
			}
		}
	}
}

.fill-full {
  position: fixed;
  right: 0;
  left: 0;
  top: 64px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdl-spinner:after {
  content: "" !important;
}
