<div class="mdl-card__title">
    <h2 class="mdl-card__title-text">
        Previews
    </h2>
</div>
<div class="mdl-card__media mdl-color--white exp-create-preview-list"
    ng-class="{'has-items': model.data.length}">
    <div ng-if="model.data.length"
        class="exp-create-set"
        ng-repeat="set in model.data track by $index">
        <div class="set-cont">
            <div class="set-bg">
                <div class="set-header">
                    <div class="set-header-img"
                        ng-class="{'no-margin': !set.message}"
                        ng-style="{'background-image': 'url(' + pageData.picture + ')'}"></div>
                    <div class="set-header-name">
                        <div class="set-header-name-text">
                            {{pageData.name}}
                        </div>
                        <div class="set-header-name-sponsored">
                            <span>Sponsored &#8226; </span>
                            <div class="sprite sprite-preview_action_5"></div>
                        </div>
                    </div>
                    <div class="set-header-like">
                        <div class="sprite sprite-preview_action_4"></div>
                    </div>
                    <div class="set-header-more">
                        <div class="sprite sprite-preview_action_6"></div>
                    </div>
                </div>
                <div ng-if="set.message" class="set-message">{{set.message}}</div>
                <div class="set-image"><img ng-src="{{set.image}}"/></div>
                <div class="set-image-text">
                    <div class="set-image-text-headline">{{set.headline}}</div>
                    <div class="set-image-text-desc">{{set.desc}}</div>
                    <div class="set-image-text-page">{{pageData.url}}</div>
                </div>
            </div>
            <div class="set-actions">
                <div class="sprite sprite-preview_action_1"></div>
                <div class="sprite sprite-preview_action_2"></div>
                <div class="sprite sprite-preview_action_3"></div>
            </div>
        </div>
        <div class="controls">
            <button
                ng-click="model.remove($index)"
                class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent">
              <i class="material-icons">close</i>
            </button>
        </div>
    </div>
    <div ng-if="model.data.length"
        ng-repeat="i in model.range(3 - (model.data.length % 3 ? model.data.length % 3 : 3)) track by $index"
        class="exp-create-set" style="visibility: hidden"></div>
    <div ng-if="!model.data.length" class="exp-create-empty">
        <span>The list is empty.</span>
    </div>
</div>
