<div class="team-settings mdl-grid" mdl-upgrade>

    <div ng-if="!viewLoaded" class="fill-full">
      <div
        class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
      </div>
    </div>
    <div
        users-container
        ng-user="user"
        ng-model="usersContainer"
        ng-if="viewLoaded"
        class="animate
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--5-col-desktop
            mdl-cell--6-col-tablet
            mdl-cell--4-col-phone">
    </div>
    
    <div
        mdl-upgrade
        code-container
        ng-user="user"
        ng-model="codeContainer"
        ng-if="viewLoaded"
        class="animate
            code-container
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--5-col-desktop
            mdl-cell--6-col-tablet
            mdl-cell--4-col-phone">
    </div>
</div>