<div class="promotion-form">
    <div class="row">
        <div
            dropdown
            ng-model="model.page"
            class="dropdown full">
        </div>
    </div>
    <div class="row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                ng-model="model.utm_source"
                class="mdl-textfield__input"
                type="text"
                id="utm_source">
                <label for="utm_source">UTM source</label>
            </input>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                ng-model="model.utm_medium"
                class="mdl-textfield__input"
                type="text"
                id="utm_medium">
                <label for="utm_medium">UTM medium</label>
            </input>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input
                ng-model="model.utm_campaign"
                class="mdl-textfield__input"
                type="text"
                id="utm_campaign">
                <label for="utm_campaign">UTM campaign</label>
            </input>
        </div>
    </div>
</div>