<div class="admin mdl-grid" mdl-upgrade>

    <div ng-if="!viewLoaded" class="fill-full">
      <div
        class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
      </div>
    </div>
    <div
        add-user
        ng-model="addUser"
        ng-if="viewLoaded"
        class="
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--4-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </div>
    <div
        demo
        ng-model="demo"
        ng-if="viewLoaded"
        class="
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--4-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </div>
    <div
        inactivate
        ng-model="inactivate"
        ng-if="viewLoaded"
        class="
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--4-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </div>
    <div
        payment
        ng-model="payment"
        ng-if="viewLoaded"
        class="
            mdl-card
            mdl-shadow--2dp
            mdl-cell
            mdl-cell--4-col-desktop
            mdl-cell--8-col-tablet
            mdl-cell--4-col-phone">
    </div>
</div>
