@import 'variables.scss';

.code-media {
    padding: 16px;
}

.code-cont {
    width: 350px;
    height: 145px;
    padding: 8px;
    box-sizing: border-box;
    font-family: monospace;
    outline: none;
    border: 1px solid transparent;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.12);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        box-shadow: 0px 0px 0px 2px unquote("rgb(#{$color-primary})");
    }
}
.admin {

	.mdl-card {
		height: 100%;
		min-height: 0;
	}

	.mdl-card__media {
		max-height: 430px;
	    overflow-y: auto;
	    overflow-x: hidden;
	}
	.mdl-textfield {
		width: 100%;
	}
}