<aside class="posts mdl-cell--4-col mdl-components__nav mdl-shadow--4dp">
  <div ng-if="viewLoaded"  class="post-list">
    <div
      post
      ng-repeat="item in posts track by item.id"
      ng-model="item"
      ng-click="itemClick(item.id)"
      ng-class="{active: item.active, last: $last}"
      class="post">
    </div>
  </div>
</aside>
<div ng-if="!viewLoaded" class="fill-left">
  <div
    class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active">
  </div>
</div>
<div class="details mdl-cell mdl-cell--8-col">
    <div ui-view="container-details"></div>
</div>