@import 'variables.scss';

.payment {
    &-error {
        color: $input-text-error-color;
    }

    .mdl-textfield {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-grow: 0;
        flex-shrink: 0;

        & > * {
            width: calc(50% - 12px);
        }

        & > .full {
            width: 100%;
        }
    }
    input, textarea {
        width: 100%;
    }
}
