.test-aside {
    height: 100%;
    .mdl-card__media {
        min-height: 150px;
        display: flex;
        justify-content: center;
        padding: 16px;
        word-break: break-all;
        & > span {
            align-self: center;
        }
    }

    .metric-map {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > div {
            display: flex;
            box-sizing: border-box;
            padding: 0 8px;
            width: 100%;
            justify-content: space-between;
        }
    }
}