<div ng-if="!model.connected">
    <div class="supporting-text">
        To use Momentum's social features, you must connect your account to Facebook.
    </div>
    <p ng-show="model.connecting"
        style="margin: 8px 0;"
        mdl-upgrade
        class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active">
    </p>
    <button ng-hide="model.connecting"
        ng-click="$event.preventDefault(); model.fbConnect()"
        class="mdl-button
            mdl-js-button
            mdl-js-ripple-effect
            mdl-button--raised
            mdl-button--colored">
        Connect
    </button>
</div>
<div ng-if="model.connected && !model.noBusiness">
    <div class="supporting-text">
        Select your Business to import your assets.
    </div>
    <div
        dropdown
        ng-model="model.assets.business"
        class="dropdown">
    </div>
    <div class="supporting-text">
        or
    </div>
    <p ng-show="model.switching"
        style="margin: 8px 0;"
        mdl-upgrade
        class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active">
    </p>
    <button ng-hide="model.switching"
        ng-click="$event.preventDefault(); model.manually()"
        class="mdl-button
            mdl-js-button
            mdl-js-ripple-effect
            mdl-button--raised">
        Add manually
    </button>
</div>
<div class="fb-int" ng-if="model.connected && model.noBusiness">
    <div class="supporting-text">
        Choose at least one ad account and page.
    </div>
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#fb-accounts" class="mdl-tabs__tab is-active">
                Ad Accounts
            </a>
            <a href="#fb-pages" class="mdl-tabs__tab">
                Pages
            </a>
        </div>
        <div class="mdl-tabs__panel is-active" id="fb-accounts">
            <div ng-if="!model.assets.adaccount.length" class="no-data">
                To use Momentum's social features, you must have access to at least one Facebook ad account.
            </div>
            <ul ng-if="model.assets.adaccount.length" class="mdl-list">
                <li ng-repeat="asset in model.assets.adaccount track by asset.value"
                    class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <label
                            ng-class="{'is-checked': asset.checked}"
                            class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                            for="list-switch-{{asset.value}}">
                            <input
                                type="checkbox"
                                id="list-switch-{{asset.value}}"
                                class="mdl-switch__input"
                                ng-change="model.checkChange('adaccount', asset.value)"
                                ng-model="asset.checked"/>
                        </label>
                        {{asset.display}}
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <a
                            ng-click="model.switchDefault('adaccount', asset.value)"
                            href="javascript:void(0)"
                            ng-class="{'mdl-button--accent': asset.default}"
                            class="mdl-button def-button mdl-js-button mdl-js-ripple effect">
                            Default
                        </a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="mdl-tabs__panel" id="fb-pages">
            <div ng-if="!model.assets.page.length" class="no-data">
                To use Momentum's social features, you must have access to at least one Facebook page.
            </div>
            <ul ng-if="model.assets.page.length" class="mdl-list">
                <li ng-repeat="asset in model.assets.page track by asset.value"
                    class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <label
                            ng-class="{'is-checked': asset.checked}"
                            class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                            for="list-switch-{{asset.value}}">
                            <input
                                type="checkbox"
                                id="list-switch-{{asset.value}}"
                                class="mdl-switch__input"
                                ng-change="model.checkChange('page', asset.value)"
                                ng-model="asset.checked"/>
                        </label>
                        {{asset.display}}
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <a
                            ng-click="model.switchDefault('page', asset.value)"
                            href="javascript:void(0)"
                            ng-class="{'mdl-button--accent': asset.default}"
                            class="mdl-button def-button mdl-js-button mdl-js-ripple effect">
                            Default
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
